@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

.raleway-* {
  font-family: "TikTok Sans";
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}